<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TransactionServiceSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TransactionServiceSoap1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="HCServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="HCServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>

      <!--<client>-->
      <!--PRODUCTION URLS and settings-->
      <!--
      <endpoint address="https://hc.mercurypay.com/tws/transactionservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="TransactionServiceSoap"
        contract="MPSTransactionService.TransactionServiceSoap" name="TransactionServiceSoap" />
      <endpoint address="https://hc.mercurypay.com/hcws/hcservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="HCServiceSoap"
        contract="MPSHostedCheckoutService.HCServiceSoap" name="HCServiceSoap" />
    </client>-->
      <client>
            <endpoint address="https://hc.mercurydev.net/tws/TransactionService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TransactionServiceSoap"
                contract="MPS_TransactionWebService.TransactionServiceSoap"
                name="TransactionServiceSoap" />
            <endpoint address="https://hc.mercurydev.net/hcws/hcservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="HCServiceSoap"
                contract="MPS_HostedCheckoutWebService.HCServiceSoap" name="HCServiceSoap" />
        </client>
    </system.serviceModel>

  <appSettings>
    <!--Booking Deposit Amount-->
    <!--
    <add key="DepositAmount" value="50.00"/>
    -->
    <!--PRODUCTION URLS and settings-->
    <!--
    <add key="HostedCheckoutURL" value="https://hc.mercurypay.com/checkout.aspx"/>
    <add key="ReturnURL" value="https://www.isophism.com/Payments.aspx"/>
    <add key="ProcessCompleteURL" value="https://www.isophism.com/paymentcomplete.aspx"/>
    <add key="LogoURL" value="https://www.hermosatoursregistration.com/images/Hermosalogo.png"/>
    <add key="HCService.HCService" value="https://hc.mercurypay.com/hcws/hcservice.asmx"/>
    <add key="TransactionService.TransactionService" value="https://hc.mercurypay.com/tws/transactionservice.asmx"/>
    -->
    <!--Hermosatours Production info-->
    <!--
    <add key="MerchantID" value="88430100662"/>
    <add key="HCPassword" value="PGJGm0iN8bnGE6gS"/>-->


    <!--Mercury Test PRODUCTION INFO-->
    <!--<add key="MerchantID" value="333122665"/>
    <add key="HCPassword" value="GdaQAF1.f6K!EKPA"/>-->
    <!--
    MC=5499990123456781
    ExpDate future
    CVV 123.
    -->
    <!--STAGING URLS and settings-->
    <add key="HostedCheckoutURL" value="https://hc.mercurydev.net/Checkout.aspx"/>
    <add key="ReturnURL" value="http://www.isophism.com/payments.aspx"/>
    <add key="ProcessCompleteURL" value="http://www.isophism.com/paymentcomplete.aspx"/>
    <add key="LogoURL" value="http://www.hermosatoursregistration.com/images/Hermosalogo.png"/>
    <add key="HCService.HCService" value="https://hc.mercurydev.net/hcws/hcservice.asmx"/>
    <add key="TransactionService.TransactionService" value="https://hc.mercurydev.net/tws/TransactionService.asmx"/>
    <add key="MerchantID" value="494691720"/>
    <add key="HCPassword" value="KRD%8rw#+p9C13,T"/>
  </appSettings>

</configuration>