<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="MPS.PayPal"
             type="System.Configuration.NameValueSectionHandler"
             requirePermission="false" />
  </configSections>

  <MPS.PayPal>
    <add key="ApiURL" value="https://api-3t.sandbox.paypal.com/nvp" />
    <add key="ExpressURL" value="https://www.sandbox.paypal.com/webscr" />
    <add key="User" value="pro_1295202882_biz_api1.pic2pay.com" />
    <add key="Password" value="1295202895" />
    <add key="Signature" value="AseyF0Cy2-CK-XkOkEFzJftGnuIgA6BrXJXqqpufzmRPHnPCNavKYrJh" />
    <add key="Version" value="64.4" />
    <add key="ReturnURL" value="http://localhost:3011/ExpressOrder.aspx" />
    <add key="CancelURL" value="http://localhost:3011/CancelOrder" />
  </MPS.PayPal>

</configuration>